html, body {
	scroll-behavior: smooth;
}

/* ---- Typography Styles ---- */

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-white {
	color: #FFF;
}

.text-white-link, .text-white-link:hover, .text-white-link:focus {
	color: #FFF;
	text-decoration: none;
}

.text-spaced {
	letter-spacing: 1.25px;
}

.btn-yellow-transparent {
	border-color: #FDCA00;
	color: #FDCA00;
	font-size: 2.5rem;
	position: relative;
}

.btn-yellow-transparent:hover, .btn-yellow-transparent:focus {
	background-color: #FFF
}

.btn-yellow-transparent:hover .chevron-down-icon, .btn-yellow-transparent:focus .chevron-down-icon {
	opacity: 1;
}

/* ---- Modal Styles ---- */

.modal-open {
	overflow: hidden;
}

.modal-open .modal-hide {
	display: none;
}

.modal-header {
	padding: 0.5em 0;
}
.modal {
	height: 33%;
	left: 50%;
	letter-spacing: 4px;
	line-height: 24px;
	margin: 0 auto;
	padding: 0.75em;
	position: fixed;
	top: 40%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	width: 66%;
	z-index: 25;
}

.overlay {
	background-color: rgba(0, 0, 0, 0.75);
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 5;
}

/* ---- Form Styles ---- */

label {
	color: #FFF;
}

.form-group {
	margin-bottom: 20px;
}

/* ---- Global Styles ---- */

.hide {
	display: none !important;
	z-index: -1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Lora', serif;
}

html, body {
	background-color: #333;
	color: #FDCA00;
	display: block;
	font-family: 'Oswald', sans-serif;
	height: 100vh;
	margin: 0;
	width: 100vw;
	overflow-x: hidden;
}

.container-full {
	max-width: 100%;
	width: 100%;
}

.container-flex, .container-flex .row {
	display: flex;,
	flex-flow: row wrap;
	-webkit-flex-flow: row wrap;
	width: 100%;
}

.container-flex .column {
	float: none;
}

.container-flex .one-third {
	flex-basis: 33%;
	-webkit-flex-basis: 33%;
	flex-grow: 1;
	-webkit-flex-grow: 1;
}

.slide-section .content-header {
	padding: 1em 0;
}

.slide-section .column {
	height: 300px;
	margin: 0;
	overflow: hidden;
	position: relative;
	-webkit-transition: all 0.33s ease-in-out;
	transition: all 0.33s ease-in-out;
}

.active-slide .arrow-slide {
	-webkit-transform: rotate(-180deg);
	transform: rotate(-180deg);
}

.arrow-slide {
	color: #FDCA00;
	display: inline-block;
	left: 0;
	position: relative;
	-webkit-transition: left 0.25s ease-in-out;
	transition: left 0.25s ease-in-out;
}

.toggle-slide,
.toggle-slide:hover,
.toggle-slide:focus {
	text-decoration: none;
}

.start-slide .column {
	flex-basis: 0;
	width: 0;
}

.start-slide .column.active {
	flex-basis: 100%;
	flex-grow: 1;
	width: 100%;
}

.toggle-slide:hover .arrow-slide {
	left: 5px;
}

.active-slide:hover .arrow-slide {
	left: -5px;
}

.full-height-screen {
	height: 100% !important;
	padding-bottom: 0 !important;
}

.chevron-down-icon {
	fill: currentColor;
	height: 20px;
	margin-left: 15px;
	opacity: 0;
	position: absolute;
	right: -3px;
	top: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	transition: all 0.15s ease;
	-webkit-transition: all 0.15s ease;
	width: 20px;
}

/* ---- Mobile ---- */

@-ms-viewport{
	width: device-width;
}

/* Sections */
.section {
	padding: 8rem 0 7rem;
	text-align: center;
}

/* Hero */
.hero {
	position: relative;
}

.main-hero {
	position: relative;
	text-transform: uppercase;
}

.hero-image, .section-image-background {
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.main-hero-image {
	background-image: url('../images/assets/home/main-hero.png');
	-webkit-filter: grayscale(100%) brightness(0.5);
	filter: grayscale(100%) brightness(0.5);
}

.header-text {
	font-size: 2em;
	letter-spacing: 5px;
	margin: 0;
}

.company-logo {
	display: block;
	font-size: 6em;
	letter-spacing: 10px;
	margin: 10px 0;
}

.content-header {
	font-size: 2em;
	position: relative;
}

.text-section {
	letter-spacing: 1px;
}

.black-white-image {
	-webkit-filter: grayscale(100%) brightness(0.5);
	filter: grayscale(100%) brightness(0.5);
}

.hidden-text-content {
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}

.active .hidden-text-content {
	visibility: visible;
	opacity: 1;
}

.active-slide {
	position: absolute;
	left: -20px;
}

/* Mailchimp Form */
#mc_embed_signup {
	background: transparent;
}

#mc_embed_signup div#mce-responses {
	overflow: visible;
	width: 100%;
	margin: 0;
	padding: 0;
}

#mc_embed_signup #mce-success-response {
	background-color: #dff0d8;
	border-radius: 4px;
	border: 1px solid #d6e9c6;
	color: #3c763d;
	font-weight: normal;
	margin-bottom: 20px;
	padding: 15px;
	width: 90%;
}

input,
textarea {
	color: #333;
}

/* Mobile first queries */

/* Larger than mobile */
@media (max-width: 500px) {
	.container-flex .one-third {
		flex-basis: 100%;
		-webkit-basis: 100%;
	}

	.slide-section .column {
		height: auto;
	}

	.slide-section .content-header {
		font-size: 1.75em;
	}
}

/* Larger than phablet */
@media (min-width: 550px) {
	.hide-desktop {
		display: none !important;
	}

	.section {
		padding: 12rem 0 11rem;
	}

	.hero {
		padding-bottom: 12rem;
		text-align: left;
		height: 300px;
	}
}

/* Larger than tablet */
@media (min-width: 750px)
	.hero {
		height: 400px;
	}

	.hero-heading {
		font-size: 2.6rem;
	}

	.section {
		padding: 14rem 0 15rem;
	}

	.hero {
		padding: 16rem 0 14rem;
	}
}

/* Larger than desktop */
@media (min-width: 1000px) {
	.section {
		padding: 20rem 0 19rem;
	}
	.hero {
		padding: 22rem 0;
	}
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}